<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Token</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="flex justify-center">
        <div class="p-10">
            <h1 class="text-blue-600 text-2xl">Generated Token</h1>
            <div class="bg-blue-600 w-5 h-1 rounded-full"></div>
        </div>
    </div>
    <div class="p-5">
        <p class="text-blue-600 text-sm text-center">Your generated token is</p>
        <p class="text-blue-600 text-xl py-2 text-center"><%= token %></p>
    </div>
    <div class="flex justify-center">
        <a href="/" class="bg-blue-600 px-5 py-1 rounded-full text-white text-sm hover:bg-blue-700 transition">
            All TOKEN
        </a>
    </div>
</body>
</html>